/* :root {
    color-scheme: light dark;
}*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgb(170, 170, 170);
  border-radius: 7px;
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsl(0deg, 0%, 47%);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1b1828;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.15rem;
}

h1 {
  font-size: 2.65rem;
  font-weight: 400;
}

h2 {
  font-size: 2.15rem;
  font-weight: 300;
}

h3 {
  font-size: 1.65rem;
  font-weight: 200;
}

h4 {
  font-size: 1.15rem;
  font-weight: 100;
}

h5 {
  font-size: 0.9rem;
  font-weight: 100;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.loadingTitle {
  font-size: 5rem;
  text-shadow: 1px 0 10px #ae8cfa;
  color: #ae8cfa;
}

.refreshContainer {
  width: 100vw;
  height: calc(100vh - 5.35rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.refreshContainer .btn {
  font-size: 4rem;
  text-shadow: 1px 0 10px #ae8cfa;
  color: #ae8cfa;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  padding: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: font-size 0.3s ease-out;
}
.refreshContainer .btn:hover {
  font-size: 5rem;
}

.navbar {
  width: 100vw;
  height: 3rem;
  padding-block: 2.35rem;
  padding-inline: 3.65rem;
  color: #fefcff;
  background-color: #1b1828;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .logo h2 {
  font-weight: 100;
  letter-spacing: 0.3rem;
}
.navbar .logo h2::-moz-selection {
  display: none;
}
.navbar .logo h2::selection {
  display: none;
}
.navbar .links_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.navbar .links_section li {
  list-style: none;
}
.navbar .links_section li a {
  color: #fefcff;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar .links_section li a:hover {
  text-shadow: 1px 0 10px #ae8cfa;
  color: #ae8cfa;
}

.wrapper {
  width: 100vw;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 25.2rem;
  height: 34.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 0.65rem;
  background-position: center;
  border-radius: 10px;
  color: #fefcff;
}
.card:hover h4 {
  opacity: 1;
}
.card h2 {
  padding-top: 2rem;
}
.card h4 {
  background-image: linear-gradient(to left, #1b1828 5%, rgba(27, 24, 40, 0) 40%);
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: end;
  color: #ae8cfa;
  text-shadow: 1px 0 7px #ae8cfa;
  opacity: 0;
  transition: all 0.3s;
}
.card h5 {
  text-align: justify;
}
.card h5 .readBtn {
  margin-left: 0.2rem;
  background-color: transparent;
  border: none;
  text-shadow: 1px 0 7px #ae8cfa;
  color: #ae8cfa;
  cursor: pointer;
}
.card .btn {
  width: 100%;
  margin-block: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.card .btn h5 {
  text-align: center;
  font-weight: 300;
  color: #ae8cfa;
}

@media (max-width: 80rem) {
  .card {
    height: 27.2rem;
    width: 32.75rem;
  }
}/*# sourceMappingURL=index.module.css.map */