@use "../_variables" as var;
@use "../mixins" as mixin;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.actions {
  @include mixin.flexCenter(row);
  width: 100vw;

  input {
    width: 75%;
    border: none;
    outline: none;
    padding-left: 2rem;
    padding-block: 0.75rem;
    font-weight: 500;
    font-size: 1.15rem;
    color: var.$mediumBlack;
    background-color: var.$white;
    border-radius: 0.75rem 0 0 0.75rem;
  }
}

.btn {
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  background: rgb(100, 108, 255);
  background: linear-gradient(225deg, var.$purply -10%, var.$lightBlack 100%);
  border: none;
  border-radius: 0 0.75rem 0.75rem 0;
  color: var.$white;
  font-weight: 500;
  font-size: 1.15rem;

  cursor: pointer;
  transition: color 0.3s ease-in;

  &:hover {
    color: var.$hoverTxt;
  }
}

.taskContainer {
  margin-block: 3rem;
  @include mixin.flexCenter(column);

  .task {
    @include mixin.flexCenter(row);
    justify-content: space-between;
    gap: 0.85rem;
    background-color: var.$lightBlack;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    margin-block: 0.75rem;
    box-shadow: 0px 0px 12px var.$purply;
    border-radius: 0.5rem;
    color: var.$white;
    font-size: 1.35rem;
    text-transform: capitalize;
    min-width: 65vw;
    max-width: 58.125rem;
  }
}

.taskContainer .task .btns {
  display: flex;
  gap: 1.15rem;

  .editBtn,
  .delBtn {
    padding-inline: 0.75rem;
    padding-block: 0.425rem;
    cursor: pointer;
    transition: transform 0.4s ease-out;
    border: none;
    border-radius: 0.25rem;
    color: var.$white;
    font-weight: 500;

    &:hover {
      transform: scale(1.1);
    }
  }

  .editBtn {
    background-color: var.$purply;
  }

  .delBtn {
    background-color: var.$red;
  }
}
