// Variables:

$white: #fefcff;
$gray: #c3c3d6;
$black: #1b1828;
$purple-light: #ae8cfa;
$purple-dark: #746cfe;
$baseFontSize: 2.65rem;
$baseFontWeight: 400;
$transition: all 0.3s;

// Flex mixin

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

/* :root {
    color-scheme: light dark;
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgb(170, 170, 170);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 0%, 47%);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.15rem;
}

h1 {
  font-size: $baseFontSize;
  font-weight: $baseFontWeight;
}

h2 {
  font-size: calc($baseFontSize - 0.5rem);
  font-weight: calc($baseFontWeight - 100);
}

h3 {
  font-size: calc($baseFontSize - 1rem);
  font-weight: calc($baseFontWeight - 200);
}

h4 {
  font-size: calc($baseFontSize - 1.5rem);
  font-weight: calc($baseFontWeight - 300);
}

h5 {
  font-size: calc($baseFontSize - 1.75rem);
  font-weight: calc($baseFontWeight - 300);
}

// Loading Style

.container {
  width: 100vw;
  height: 100vh;

  @include flexCenter(row);
}

.loadingTitle {
  font-size: 5rem;
  text-shadow: 1px 0 10px $purple-light;
  color: $purple-light;
}

// Refresh Btn Styling

.refreshContainer {
  width: 100vw;
  height: calc(100vh - calc(3rem + 2.35rem));

  @include flexCenter(row);

  .btn {
    font-size: 4rem;
    text-shadow: 1px 0 10px $purple-light;
    color: $purple-light;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    padding: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: font-size 0.3s ease-out;
    &:hover {
      font-size: 5rem;
    }
  }
}

// Nav styles

.navbar {
  width: 100vw;
  height: 3rem;
  padding-block: 2.35rem;
  padding-inline: 3.65rem;
  color: $white;
  background-color: $black;

  @include flexCenter(row);
  justify-content: space-between;

  .logo {
    h2 {
      font-weight: 100;
      letter-spacing: 0.3rem;

      &::selection {
        display: none;
      }
    }
  }

  .links_section {
    @include flexCenter(row);
    gap: 2rem;

    li {
      list-style: none;

      a {
        color: $white;
        text-decoration: none;
        transition: $transition;

        &:hover {
          text-shadow: 1px 0 10px $purple-light;
          color: $purple-light;
        }
      }
    }
  }
}

.wrapper {
  width: 100vw;
  padding-block: 2rem;

  @include flexCenter(row);
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 25.2rem;
  height: 34.75rem;

  // height: 25.2rem;
  // width: 32.75rem;

  @include flexCenter(column);
  justify-content: space-between;
  padding-inline: 0.65rem;

  background-position: center;
  border-radius: 10px;
  color: $white;

  &:hover {
    h4 {
      opacity: 1;
    }
  }

  h2 {
    padding-top: 2rem;
  }

  h4 {
    background-image: linear-gradient(to left, #1b1828 5%, #1b182800 40%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: end;
    color: $purple-light;
    text-shadow: 1px 0 7px $purple-light;
    opacity: 0;
    transition: $transition;
  }

  h5 {
    text-align: justify;
    // padding-bottom: 1rem;

    .readBtn {
      margin-left: 0.2rem;
      background-color: transparent;
      border: none;
      text-shadow: 1px 0 7px $purple-light;
      color: $purple-light;
      cursor: pointer;
    }
  }
  .btn {
    width: 100%;
    margin-block: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0);
    border: none;

    h5 {
      text-align: center;
      font-weight: 300;
      color: $purple-light;
    }
  }
}

@media (max-width: 80rem) {
  .card {
    height: 27.2rem;
    width: 32.75rem;
  }
}
