@use "./variables" as var;

.category-btn-container {
  @include var.flexCenter(row);
  gap: 2rem;

  .categoryBtn {
    padding-inline: 1rem;
    padding-block: 0.5rem;

    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;

    color: var.$sand;
    border: none;
    border-radius: 0.25rem;

    transition: var.$transition;

    &:hover {
      background-color: var.$gold-dark;
      color: var.$white;
    }

    &:focus {
      outline: 0.65px solid var.$gold-dark;
    }
  }
}
