@font-face {
  font-family: "Inter", sans-serif;
  src: url(fonts/Inter-VariableFont.woff2) format("woff2"),
    url(fonts/Inter-VariableFont.woff) format("woff"),
    url(fonts/Inter-VariableFont.ttf.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

li {
  list-style: none;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--clr-white);
  border-radius: var(--radius);
  cursor: pointer;
}
