:root {
  // Colors
  --clr-black: #181818;
  --clr-white: #f4f0ff;
  --clr-grey: hsla(0, 0%, 50%, 0.4);
  --clr-grey-hover: hsla(0, 0%, 30%, 0.4);
  --clr-accent: #8c66ff;
  --clr-accent-hover: hsl(255, 41%, 50%);
  --clr-active: hsl(300, 76%, 68%);

  // Font
  --ff-base: "Inter", sans-serif;

  --fs-0: clamp(0.78rem, calc(0.73rem + 0.22vw), 1rem);
  --fs-1: clamp(0.94rem, calc(0.9rem + 0.19vw), 1.13rem);
  --fs-2: clamp(1.13rem, calc(1.09rem + 0.14vw), 1.27rem);
  --fs-3: clamp(1.35rem, calc(1.33rem + 0.08vw), 1.42rem);
  --fs-4: clamp(1.6rem, calc(1.62rem + -0.02vw), 1.62rem);
  --fs-5: clamp(1.8rem, calc(1.98rem + -0.14vw), 1.94rem);

  // Sizes
  --pd-x: 2rem;
  --layout-height: 4rem;
  --radius: 0.25rem;
  --fullScreen-y: calc(100dvh - var(--layout-height) * 2);

  // Transition
  --transition: all 0.25s ease-in-out;

  // Paragraphs Opacity text:
  --opTxt: 0.85;
}

@media (width >= 48rem) {
  :root {
    --pd-x: 5rem;
  }
}
