@use "../_variables.scss" as var;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var.$black;
}

.title {
  text-align: center;
  color: var.$white;
  margin-block: 1.65rem;
  font-weight: 300;
}
