* {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper h1 {
  color: #c779ff;
  font-size: 5rem;
}

.wrapper .actions {
  display: flex;
  gap: 2rem;
}

.wrapper .actions .btn {
  background-color: hsl(248, 7%, 22%);
  color: #eee;
  border: none;
  border-radius: 0.5rem;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  transition: box-shadow 0.4s;
  cursor: pointer;
}

.wrapper .actions .btn:hover {
  box-shadow: 0px 0px 12px #c779ff;
}
