:root {
  --clr-white: #f1f6f9;
  --clr-navy: #394867;
  --clr-night: #212a3e;
  --clr-grey: #9ba4b5;

  --gap-nav: 2rem;
  --transition: all 0.4s ease;
}

@mixin flexCenter($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--clr-navy);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
.navbar {
  position: relative;
  width: 100vw;
  // height: 5rem;

  background-color: var(--clr-night);

  @include flexCenter(space-between);
  flex-direction: column;

  .nav-header {
    height: 5rem;
    width: 95%;
    padding-block: 0.5rem;

    @include flexCenter(space-between);

    .logo {
      height: 100%;

      img {
        height: 100%;
      }
    }
  }
}

.links__container {
  background-color: var(--clr-night);
  width: 100%;
  overflow: hidden;
  transition: var(--transition);

  .links li {
    padding-block: 1rem;
    cursor: pointer;
    transition: var(--transition);

    a {
      text-transform: capitalize;
    }

    &:hover {
      background: var(--clr-white);

      a {
        color: #212a3e;
        padding-left: 2rem;
      }
    }

    a {
      // display: block;
      color: var(--clr-grey);
      text-decoration: none;
      padding-left: 1rem;
      transition: var(--transition);
    }
  }
}

.social__icons {
  display: none;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  cursor: pointer;
  padding-right: 1rem;

  & > div {
    width: 1.5rem;
    height: 0.15rem;
    background-color: var(--clr-grey);
    transition: var(--transition);
    transform-origin: left center;
  }
  &.open div:nth-child(1) {
    transform: rotate(45deg);
  }
  &.open div:nth-child(2) {
    opacity: 0;
  }
  &.open div:nth-child(3) {
    transform: rotate(-45deg);
  }
}

@media (width >= 50rem) {
  .burger {
    display: none;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;

    .nav-header {
      display: inline;
      width: auto;

      img {
        object-fit: cover;
      }
    }

    .links__container {
      width: auto;
      height: auto !important;

      .links li:hover {
        background-color: inherit;
        cursor: default;

        a {
          display: block;
          padding-left: 1rem;
          color: var(--clr-grey);

          &:hover {
            color: var(--clr-white);
          }
        }
      }
    }
  }

  .links__container .links,
  .social__icons li {
    display: flex;
    gap: 1.5rem;
    font-size: 1.125rem;
  }

  .links__container .links li {
    list-style-type: none;
  }

  .links__container .links li a,
  .social__icons li a {
    transition: var(--transition);
    text-decoration: none;
    color: var(--clr-grey);
  }

  .links__container .links li a:hover,
  .social__icons li a:hover {
    color: var(--clr-white);
  }

  .navbar .social__icons {
    display: flex;
    gap: 0.75rem;
  }
}

@media (width >= 65rem) {
  .links__container .links,
  .social__icons li {
    gap: 1.75rem;
    font-size: 1.2rem;
  }
}
