:root {
  --clr-primary: #646cff;
  --clr-secondary: #535bf2;
  --clr-pink: #fc7593;
  --clr-black-light: #343434;
  --clr-black-dark: #1a1a1a;
  --clr-white: #ece8df;

  --stroke-width: calc(1em / 16);
  --font-size: 10vmin;
  --font-weight: 700;
  --radius: 0.25rem;
}

body {
  background-color: var(--clr-black-dark);
  font-family: sans-serif;
}

.section-center {
  text-transform: capitalize;

  text-align: center;
  margin-top: 10vmin;
  color: var(--clr-white);
}

.section-title {
  margin: 1rem;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-linear-gradient(
    315deg,
    var(--clr-pink) 35%,
    var(--clr-primary)
  );
  background-image: -o-linear-gradient(
    315deg,
    var(--clr-pink) 35%,
    var(--clr-primary)
  );
  background-image: linear-gradient(
    315deg,
    var(--clr-pink) 25%,
    var(--clr-primary)
  );

  color: var(--clr-black-dark);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: 2px;
  padding: calc(var(--stroke-width) / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);

  -webkit-user-select: none;
  user-select: none;
}

.section-form {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1vmin;
  margin-block: 2rem;
}

.section-form label,
input,
button {
  font-size: 2.55vmin;
}

.section-form input {
  width: 3rem;
  text-align: center;
  background-color: var(--clr-black-light);
  outline: none;
  border: none;

  padding: 0.25rem 0.35rem;
  border-radius: var(--radius);
  color: var(--clr-primary);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.section-form .btn {
  background-color: var(--clr-secondary);
  border: none;
  border-radius: var(--radius);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--clr-black-dark);
}

.section-form .btn:hover {
  scale: 1.05;
}

.section-paragraphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.section-paragraphs .paragraph {
  min-width: 30vmin;
  max-width: 50vmin;
  align-self: stretch;
  text-align: justify;
  color: var(--clr-white);
}

.section-paragraphs .paragraph .paragraph-index {
  color: var(--clr-pink);
  text-shadow: 0px 0px 12px var(--clr-primary);
}
