.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-basis: 1;
  width: 80vw;
  height: fit-content;

  padding: 3rem;

  border-radius: 0.5rem;

  transition: all 0.3 ease-in;
}

.questions {
  width: 150%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
