// Variables:

$white: #fefcff;
$gray: #c3c3d6;
$black: #1b1828;
$purple-light: #ae8cfa;
$purple-dark: #746cfe;
$baseFontSize: 2.65rem;
$baseFontWeight: 400;
$transition: all 0.3s;

// Flex mixin

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

/* :root {
    color-scheme: light dark;
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgb(170, 170, 170);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 0%, 47%);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.15rem;
}

h1 {
  font-size: $baseFontSize;
  font-weight: $baseFontWeight;
}

h2 {
  font-size: calc($baseFontSize - 0.5rem);
  font-weight: calc($baseFontWeight - 100);
}

h3 {
  font-size: calc($baseFontSize - 1rem);
  font-weight: calc($baseFontWeight - 200);
}

h4 {
  font-size: calc($baseFontSize - 1.5rem);
  font-weight: calc($baseFontWeight - 300);
}

h5 {
  font-size: calc($baseFontSize - 1.75rem);
  font-weight: calc($baseFontWeight - 300);
}

// Nav styles

.navbar {
  width: 100vw;
  height: 3rem;
  padding-block: 2.35rem;
  padding-inline: 3.65rem;
  color: $white;
  background-color: $black;

  @include flexCenter(row);
  justify-content: space-between;

  .logo {
    h2 {
      font-weight: 100;
      letter-spacing: 0.3rem;

      &::selection {
        display: none;
      }
    }
  }

  .links_section {
    @include flexCenter(row);
    gap: 2rem;

    li {
      list-style: none;

      a {
        color: $white;
        text-decoration: none;
        transition: $transition;

        &:hover {
          text-shadow: 1px 0 10px $purple-light;
          color: $purple-light;
        }
      }
    }
  }
}

.wrapper {
  width: 100vw;
  padding-block: 2rem;

  @include flexCenter(row);
  flex-wrap: wrap;
  gap: 2rem;
  // background-color: $purple-light;
}

.card {
  width: 25rem;
  height: 32.5rem;
  background: rgba(174, 140, 250, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  // backdrop-filter: blur(13px);
  // -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);

  color: $white;

  img {
    width: 100%;
    height: fit-content;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    aspect-ratio: 16/9;
  }

  p {
    color: $gray;
  }
}
